<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/login.css" />
        <script type="text/javascript" src="/script/jquery.min.js"></script>
        <script type="text/javascript" src="/script/jquery.md5.js"></script>
        <script type="text/javascript" src="/script/login.js"></script>
        <title>廟口太子幫官方網站 MKTZCrew</title>
    </head>
    <body>
        <div id="main">
            <div id="dialog">
                <img src="/css/MKTZ_LOGO1.jpg"><br />
                <span style="color: #777;">帳號：</span><input type="text" id="account"><br />
                <span style="color: #777;">密碼：</span><input type="password" id="password"><br />
                <a href="javascript:void(0);" id="regist">申請</a>
                <a href="javascript:void(0);" id="login">登入</a><br/>
                <p>建議使用Google Chrome, Firefox瀏覽本網站</p>
            </div>
            <div id="registdialog" style="display: none">
                <img src="/css/MKTZ_LOGO1.jpg"><br />
                <span style="color: #777;">帳　　號：</span><input type="text" id="regaccount"><br />
                <span style="color: #777;">密　　碼：</span><input type="password" id="regpassword"><br />
                <span style="color: #777;">確認密碼：</span><input type="password" id="regpassword2"><br />
                <a href="javascript:void(0);" id="cancle">取消</a>
                <a href="javascript:void(0);" id="apply">註冊</a><br/>
                <p>申請後，請通知王族或守護騎士將您的帳號審核</p>
            </div>
        </div>
    </body>
</html>